
.container{
    position:fixed;
    top: 1%;
    left: 1%;
    right: 1%;
    bottom: 1%;
    border:solid #277dff 0.5vw ;
}
.main{
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    text-align: center;
    height: auto;
    width: auto;
}
.text{
    /* color: #277dff; */
    position: absolute;
    top: 10vw;
    left: 30vw;
    font-size: 5vw;
    height: auto;
    width: auto;
}
.city{
    position: absolute;
    top: 20vw;
    left: 32vw;
}
.place{
    position: absolute;
    font-size: 2.5vw;
    top: 23vw;
    left: 30vw;
    height: auto;
    width: auto;
    text-align: center;
    /* margin: 20%;
    border:solid #277dff 0.1vw ;
    text-align: center; */
}
.ticket{
    position: relative;
    top: 15vw;
    z-index: -5;
}